<% form_for([form]) do |f| %>
<%= f.error_messages %>

  <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
  </div>
<br />
  <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
  </div>

  <br />


  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
