<% div_for(user) do %>
        <div class="post">

	  <h1> <%=h user.name %></h1>
	  <h2> <%=h user.email %></h2>

          <p class="byline">Posted by Acmmtpa</p>
          <div class="entry">
            <p></p>

	    <div>
	      <%= render :partial => 'posts/post_small', :collection => user.posts %>
	    </div>

          </div>
          <div class="meta">
            <p class="links"><a href="#" class="comments">Comments (<%= user.posts.map{|p| p.comments.count}.sum %>)</a></p>
          </div>
        </div>

  
  <!-- <div> -->
  <!--   <h4>make a new post</h4> -->
    <%= render :partial => 'posts/form', :object => user.posts.new %>
  <!-- </div> -->

<% end %>
