

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title></title>
    <!-- <# %= stylesheet_link_tag 'bluetrip/css/ie' %> -->
    <!-- <# %= stylesheet_link_tag 'bluetrip/css/screen' %> -->
    <!-- <# %= stylesheet_link_tag 'bluetrip/css/style' %> -->

    <!-- <# %= stylesheet_link_tag 'bluetrip/css/style' %> -->

    <%= stylesheet_link_tag 'sandstone/default' %>

    <!-- <# %= javascript_include_tag "jquery-1.2.6.min" %> -->

    <%= jqgrid_stylesheets %>
    <%= jqgrid_javascripts %> 



<script type="text/javascript">
$(function()
{
$("#trigger").click(function(event) {
event.preventDefault();
$("#box").slideToggle();
});

$("#box a").click(function(event) {
event.preventDefault();
$("#box").slideUp();
});
});
</script>


<script type="text/javascript">
  $(function(){
  $('div.hideonstartup').hide;
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
                                           // var $commentBody = $('p:eq(1)');
  var $commentBody = $("p.comment-body");
  $commentBody.hide();
  $('a.more').click(function() {
    $commentBody.slideToggle('slow');
    var $link = $(this);
    if ( $link.text() == "read more" ) {
      $link.text("read less");      
    } else {
      $link.text("read more");
    }
    return false;
  });
});
</script>

  </head>
    <!-- <div class="container"> -->

<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Power Advocate</a></h1>
      <h2><a href="http://chasmaninfo.heroku.com/">Thank you Power Advocate from Charles Magid</a></h2>
    </div>
    <!-- end div#logo -->
  </div>
  <!-- end div#header -->
  <div id="menu">
    <ul>
      <li class="active"><a href="/contracts">Demos</a></li>
      <li><a href="/users">Contacts</a></li>
      <li><a href="/users/new">New PA Contact</a></li>
      <li><%= link_to "Credits", credits_path %></li>
    </ul>
  </div>
  <div id="splash"><img src="/images/img01.jpg" width="940" height="410" alt="" /></div>
  <!-- end div#menu -->
  <div id="page">
    <div id="page-bgtop">
      <div id="content">

        <!-- <div class="post"> -->

        <!--   <h2 class="title"><a href="#">Lorem Ipsum Dolor Volutpat</a></h2> -->
        <!--   <p class="byline">Posted by FreeCssTemplates</p> -->
        <!--   <div class="entry"> -->
        <!--     <p>This is <strong>Sandstone</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.  The photo used in this template is from <a href="http://www.pdphoto.org">PDPhoto.org</a>. You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p> -->
        <!--   </div> -->
        <!--   <div class="meta"> -->
        <!--     <p class="links"><a href="#" class="comments">Comments (32)</a></p> -->
        <!--   </div> -->
        <!-- </div> -->


        <!-- <div class="post"> -->
        <!--   <h2 class="title"><a href="#">Lorem Ipsum Dolor Volutpat</a></h2> -->
        <!--   <p class="byline">Posted by FreeCssTemplates</p> -->
        <!--   <div class="entry"> -->
        <!--     <p>Curabitur tellus. Phasellus tellus turpis, iaculis in, faucibus lobortis, posuere in, lorem. Donec a ante. Donec neque purus, adipiscing id, eleifend a, cursus vel, odio. Vivamus varius justo sit amet leo. Morbi sed libero. Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris.</p> -->
        <!--   </div> -->
        <!--   <div class="meta"> -->
        <!--     <p class="links"><a href="#" class="comments">Comments (32)</a></p> -->
        <!--   </div> -->
        <!-- </div> -->
        <!-- <div class="post"> -->
        <!--   <h2 class="title"><a href="#">Praesent scelerisque scelerisque</a></h2> -->
        <!--   <p class="byline">Posted by FreeCssTemplates</p> -->
        <!--   <div class="entry"> -->
        <!--     <p>Curabitur tellus. Phasellus tellus turpis, iaculis in, faucibus lobortis, posuere in, lorem. Donec a ante. Donec neque purus, adipiscing id, eleifend a, cursus vel, odio. Vivamus varius justo sit amet leo. Morbi sed libero. Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris.</p> -->
        <!--   </div> -->
        <!--   <div class="meta"> -->
        <!--     <p class="links"><a href="#" class="comments">Comments (32)</a></p> -->
        <!--   </div> -->
        <!-- </div> -->




	<p style="color: green"><%= flash[:notice] %></p>
	
	
	<%= yield  %>


      </div>


      <!-- end div#content -->
      <div id="sidebar">
        <ul>
          <li id="search">
            <h2>Search</h2>
            <form method="get" action="">
              <fieldset>
                <input type="text" id="search-text" name="s" value="TBD" />
                <input type="submit" id="search-submit" value="Search" />
              </fieldset>
            </form>
          </li>

          <li>
            <h2>My Sites (WIP)</h2>
            <ul>

              <li><a href="http://exceptionalcalendar.heroku.com/">I learned how to apply set theory to calendar events</a></li>
              <li><a href="http://chasmaninfo.heroku.com/pages/AreasofDevelopmentfor">I learned Accordions</a></li>
              <li><a href="http://www.dropmeawhine.com/">I learned KISS</a></li>
              <li><a href="http://rubyonrailsimdb.heroku.com/seminars/1">I learned that user experience is more important than functionality</a></li>
              <li><a href="http://neilporterband.heroku.com/">I learned I could build a website in 10 minutes</a></li>
              <li><a href="http://cmmagid.tripod.com/id15.html">I learned not to hand code javascript to use a framework</a></li>

            </ul>
          </li>



          <!-- <li> -->
          <!--   <h2>Lorem Ipsum*********</h2> -->
          <!--   <ul> -->
          <!--     <li><a href="#">Fusce dui neque fringilla</a></li> -->
          <!--     <li><a href="#">Eget tempor eget nonummy</a></li> -->
          <!--     <li><a href="#">Magna lacus bibendum mauris</a></li> -->
          <!--     <li><a href="#">Nec metus sed donec</a></li> -->
          <!--     <li><a href="#">Magna lacus bibendum mauris</a></li> -->
          <!--     <li><a href="#">Velit semper nisi molestie</a></li> -->
          <!--     <li><a href="#">Eget tempor eget nonummy</a></li> -->
          <!--   </ul> -->
          <!-- </li> -->
          <li>
            <h2>NavBar (WIP)</h2>
            <ul>
              <li><a href="/contracts">Contract Intelligence</a></li>
	      <li><a href="/users/new">New PA Contact</a></li>
              <!-- <li><a href="#">Velit semper nisi molestie</a></li> -->
              <!-- <li><a href="#">Eget tempor eget nonummy</a></li> -->
              <!-- <li><a href="#">Nec metus sed donec</a></li> -->
              <!-- <li><a href="#">Magna lacus bibendum mauris</a></li> -->
              <!-- <li><a href="#">Velit semper nisi molestie</a></li> -->
            </ul>
          </li>

        </ul>
      </div>
      <!-- end div#sidebar -->
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <!-- end div#page -->
  <div id="footer">
    <!-- <p>Copyright &copy; 2007 Sandstone. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. </p> -->
    <p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
  </div>
  <!-- end div#footer -->
</div>
<!-- end div#wrapper -->




<a href="#" id="trigger">TRIGGER</a>

<div class="hideonstartup">
  <div id="box">
    <a href="#" class="close">[x]</a>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
  </div>
</div>

<br />
<br />
This is other <br />
stuff <br />

<br /><br />

  <p class='comment-body'>(This is what appears and dissappears)Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battlefield of that war. We have come to dedicate a portion of that field as a final resting-place for those who here gave their lives that the nation might live. It is altogether fitting and proper that we should do this. But, in a larger sense, we cannot dedicate, we cannot consecrate, we cannot hallow, this ground. </p>
  <a href="#" class="more">read more</a>

<br /><br /><br />

</body>

</html>
